<div class="card m-4 shadow" style="width: 18rem;">
  <div class="card-header text-white bg-primary">
    <div class="row ml-1">
      <h5>{{name}}</h5>
    </div>
    <div class="row ml-1">
      <h5><i class="fas fa-mug-hot"></i> Manager</h5>
    </div>
  </div>
  <div class="content">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ID: {{id}}</li>
      <li class="list-group-item">Email: {{email}}</li>
      <li class="list-group-item">Office Number: {{office}}</li>
    </ul>
  </div>
</div>
